{{> head }}
  
    
      {{> navbar }}
    
  
      <div class="jumbotron">
          <h1 class="display-4">Hola, {{ capitalizar 'agustin' }}!</h1>
          <p class="lead">This is some content</p>
          <hr class="my-4">
          <p class="lead"></p>
      </div>

{{> footer }}
    